 * {
     box-sizing: border-box;
 }
 
 .used {
     color: #999;
 }
 
 #rooms .content {
     width: 400px;
     height: 200px;
     border: 1px solid #999;
     overflow: scroll;
 }
 
 #rooms input[type=text].hover {
     background: #aaa;
 }
 
 #img > img {
     width: 70px;
     display: block;
 }
 
 .data_transfer {
     width: 300px;
     height: 300px;
     border: 3px dashed #555555;
 }
 
 .data_transfer.hover {
     border: 3px dashed #aaa;
 }
 
 #chatWrap {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
 }
 
 .panel {
     position: relative;
     float: right;
     width: 260px;
     height: 26px;
     margin-left: 9px;
     font-size: 13px;
 }
 
 .panel.onMinimize {
     width: 100px;
 }
 
 .minimizeBtn {
     position: absolute;
     bottom: 0;
     z-index: 30;
     padding: 9px;
     background: #eee;
     border: 1px solid #aaa;
     width: 100px;
 }
 
 .unreadBox {
     position: absolute;
     border: 1px solid #F00;
     background: #aaa;
     top: 0;
     left: 0;
 }
 
 .contentHeader {
     padding: 5px;
     background: #eee;
 }
 
 .contentHeader::after {
     content: "";
     display: block;
     clear: both;
 }
 
 .panelContent {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 324px;
     border: 1px solid #aaa;
     z-index: 40;
     background: #FFF;
 }
 
 .contentBody {
     height: 240px;
     overflow-y: scroll
 }
 
 .contentInput {
     width: 100%;
 }
 
 .contentInput.hover {
     background: #aaa;
 }
 
 .panel ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 
 #chatControllerHeader {
     height: 60px;
     padding: 5px;
     background: #efefef;
 }
 
 #chatControllerContent {
     height: 264px;
     overflow-y: scroll;
 }
 
 .headerIcons::after {
     content: "";
     display: block;
     clear: both;
 }
 
 .headerIcons > li {
     float: left;
 }
 
 .chatControllerPanel .headerIcons > li:last-child {
     float: right;
 }
 
 .headerIcons div {
     display: block;
     width: 25px;
     height: 25px;
     color: #000;
     text-align: center;
     line-height: 25px;
     border: 1px solid #999;
 }
 
 .chatPanel .headerIcons {
     float: right;
 }
 
 #chatUserList {}
 
 #chatUserList > li::after {
     content: "";
     display: block;
     clear: both;
 }
 
 #chatUserList > li {}
 
 #chatUserList > li:hover {
     background: #aaa;
 }
 
 #chatUserList .chatThumbImg {
     float: left;
 }
 
 #chatUserList .chatRoomListName {
     margin-left: 40px;
 }
 
 .chatThumbImg {
     width: 32px;
     height: 32px;
     overflow: hidden;
     background: #FFF;
 }
 
 .chatThumbImg > img {
     max-width: 100%;
     max-height: 100%;
     display: block;
     margin: 0 auto;
 }
 
 .msgList >li::after {
     content: "";
     display: block;
     clear: both;
 }
 
 .msgList > li > div {
     float: left;
 }
 
 .msgList > li.owner > div {
     float: right;
 }

.writeBox {
  border:1px solid #555;
  width: 100%;
  height: 2em;
}