 #chatWrap {
     position: fixed;
     bottom: 0;   
     right: 0;
     font-size: 14px;
     width: 1200px;
 }
 
 #chatWrap ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 
 #chatWrap * {
     box-sizing: border-box;
 }
 
 #chatWrap .writeBox.hover {
     background: #aaa;
 }
 
 #chatWrap .panel {
     position: relative;
     float: right;
     width: 260px;
     height: 40px;
     margin-left: 9px;
 }
 
 #chatWrap .panel.onMinimize {
     width: 100px;
 }
 
 #chatWrap .minimizeBtn {
     position: absolute;
     bottom: 0;
     z-index: 30;
     padding: 5px;
     background: #eee;
     border: 1px solid #aaa;
     width: 100px;
 }
 
 #chatWrap .minimizeBtn .title {
     overflow: hidden;
     width: 5em;
     text-overflow: ellipsis;
     float: left;
     cursor: pointer;
 }
 
 #chatWrap .minimizeBtn .close_btn {
     float: right;
     cursor: pointer;
 }
 
 #chatWrap .unreadBox {
     position: absolute;
     border: 1px solid #F00;
     background: #aaa;
     top: 0;
     left: 0;
 }
 
 #chatWrap .contentHeader {
     padding: 5px;
     background: #eee;
 }
 
 #chatWrap .contentHeader::after {
     content: "";
     display: block;
     clear: both;
 }
 
 #chatWrap .panelContent {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 324px;
     border: 1px solid #aaa;
     z-index: 40;
     background: #FFF;
 }
 
 #chatWrap .contentBody {
     height: 220px;
     overflow-y: scroll;
     overflow-x: hidden;
     padding: 0 5px;
 }
 
 #chatWrap .chatControllerHeader {
     height: 60px;
     padding: 5px;
     background: #efefef;
 }
 
 #chatWrap .chatControllerContent {
     height: 264px;
     overflow-y: scroll;
 }
 
 #chatWrap .headerIcons::after {
     content: "";
     display: block;
     clear: both;
 }
 
 #chatWrap .headerIcons > li {
     float: left;
 }
 
 #chatWrap .chatControllerPanel .headerIcons > li:last-child {
     float: right;
 }
 
 #chatWrap .headerIcons div {
     display: block;
     width: 25px;
     height: 25px;
     color: #000;
     text-align: center;
     line-height: 25px;
     border: 1px solid #999;
 }
 
 #chatWrap .chatPanel .headerIcons {
     float: right;
 }
 
 #chatWrap .roomList {
     /* border-bottom: 1px solid #aaa;*/
 }
 
 #chatWrap .roomList > li::after {
     content: "";
     display: block;
     clear: both;
 }
 
 #chatWrap .roomList > li {
     padding: 5px;
     cursor: pointer;
 }
 
 #chatWrap .roomList > li:hover {
     background: #efefef;
 }
 
 #chatWrap .roomList .chatThumbImg {
     float: left;
 }
 
 #chatWrap .roomList .chatRoomListName {
     margin-left: 40px;
 }
 
 #chatWrap .chatThumbImg {
     width: 32px;
     height: 32px;
     overflow: hidden;
     background: #FFF;
 }
 
 #chatWrap .chatThumbImg > img {
     max-width: 100%;
     max-height: 100%;
     display: block;
     margin: 0 auto;
 }
 
 #chatWrap .search_input {
     display: block;
     width: 100%;
 }
 
 #chatWrap .msgList >li {
     position: relative;
     margin-bottom: 10px;
 }
 
 #chatWrap .msgList >li::after {
     content: "";
     display: block;
     clear: both;
 }
 
 #chatWrap .msgList > li > div {
     float: left;
 }
 
 #chatWrap .msgList > li.owner > div {
     float: right;
 }
 
 #chatWrap .msgList > li.other > div.img {
     width: 32px;
     height: 32px;
     position: absolute;
     bottom: 0;
     left: 0;
 }
 
 #chatWrap .msgList > li.other > div.img > img {
     max-width: 100%;
     max-height: 100%;
     margin: 0 auto;
     display: block;
 }
 
 #chatWrap .msgList > li.other > div.other_style {
     margin-left: 40px;
 }
 
 #chatWrap .msgList .msg_content {
     max-width: 75%;
     overflow:hidden;
 }
 
 #chatWrap .msgList .msg_content > img {
     max-width: 100%;
 }
 
 #chatWrap .tip {
     position: absolute;
     top: 0;
     right: 0;
     background: #333;
     color: #FFF;
     z-index: 100;
 }
 
 #chatWrap .writeBox {
     width: 100%;
     height: 39px;
     overflow-y: scroll;
     overflow-x: hidden;
 }
 
 #chatWrap .debug {
     border: 1px solid #333;
     position: fixed;
     max-width: 200px;
     top: 0;
     left: 0;
 }
 
 #chatWrap .chat_fn_bar {
     background: #eee;
     height: 30px;
     padding-top: 2px;
 }
 
 #chatWrap .chat_fn_bar::after {
     content: "";
     display: block;
     clear: both;
 }
 
 #chatWrap .chat_fn_bar > li {
     float: left;
     left: 5px;
 }
 
 #chatWrap .chat_fn_bar > li > div {
     width: 26px;
     height: 26px;
     text-align: center;
     vertical-align: middle;
     display: table-cell;
 }
 
 #chatWrap .emotion_panel {
     position: absolute;
     left: 0;
     right: 0;
     bottom: 50px;
     background: #FFF;
     height: 200px;
     border: 1px solid #900;
     overflow-y: scroll;
     overflow-x: hidden;
 }
 
 #chatWrap .emotion_panel ul::after {
     content: "";
     display: block;
     clear: both;
 }
 
 #chatWrap .emotion_panel.emotion_pic ul > li {
     float: left;
     width: 33.33%;
 }
 
 #chatWrap .emotion_panel.emotion_pic ul > li > div {
     display: table-cell;
     vertical-align: middle;
     width: 80px;
     height: 80px;
 }
 
 #chatWrap .emotion_panel.emotion_pic ul > li > div > img {
     max-width: 100%;
     max-height: : 100%;
 }
 
 #chatWrap .emotion_panel .close_btn {
     position: absolute;
     top: 0;
     right: 0;
     width: 25px;
     height: 25px;
     text-align: center;
 }
 
 #chatWrap .emotion_panel.emotion_icon ul > li {
     float: left;
     font-size: 20px;
 }
 
 #chatWrap .room_users_list {
     position: absolute;
     left: 0;
     right: 0;
     top: 40px;
     z-index: 40;
     background: #FFF;
     border: 1px solid #333;
 }
 
 #chatWrap .minimize-group {
     float: right;
     width: 40px;
     position: relative;
 }
 
 #chatWrap .minimize-group > .iconBtn {
     display: table-cell;
     width: 40px;
     height: 40px;
     vertical-align: middle;
     text-align: center;
     border: 1px solid #999;
     cursor: pointer;
 }
 
 #chatWrap .minimize-group > ul {
     position: absolute;
     bottom: 50px;
     right: 0;
     width: 100px;
     border: 1px solid #777;
     background: #FFF;
     padding: 5px;
 }
 
 #chatWrap .minimize-group > ul > li {
     position: relative;
 }
 
 #chatWrap .minimize-group > ul > li::after {
     content: "";
     display: block;
     clear: both;
 }
 
 #chatWrap .minimize-group .room_name {
     text-overflow: ellipsis;
     overflow: hidden;
     width: 4em;
     float: left;
     cursor: pointer;
 }
 
 #chatWrap .minimize-group .close_btn {
     float: right;
     cursor: pointer;
 }
