<div class='panel chatPanel' ng-class='chat.class'>
    <div class='minimizeBtn'>
        <div ng-click='chat.minimizeAction()'>{{chat.room_name}}</div>
        <div class='unreadBox' ng-if="chat.unReadCount>0">{{chat.unReadCount}}</div>
        <div ng-click='chat.closePanel()'>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
    <div class='panelContent' ng-show='!chat.minimize'>
        <div class='contentHeader'>
            <ul class="headerIcons">
                <li>
                    <div ng-click='chat.minimizeAction()'>
                        <i class="fa fa-window-minimize" aria-hidden="true"></i>
                    </div>
                </li>
                <li>
                    <div ng-click='chat.closePanel()'>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </li>
            </ul>
            <div class='contentTitle'>{{chat.room_name}}</div>
        </div>
        
        <div class='tip' tip='tip' ng-if='tip.visible'></div>
        
        <div class='contentBody'>
            <ul class="msgList">
                <li single-msg="val" tips="tip" ng-repeat="val in chat.msg" ></li>
            </ul>
        </div>
        <div class='contentInputArea'>
            <ul class='chat_fn_bar'>
                <li><i class="fa fa-star-half-o" aria-hidden="true" ng-click='triggerEmotionPanel()'></i></li>
                <li ng-click='triggerEmotionIconPanel()'><i class="fa fa-smile-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-file-o" aria-hidden="true"></i></li>
            </ul>
            <div contenteditable="true" class="writeBox" chat-input='sendEvents' ng-model='userInput'></div>
        </div>
        <div class='emotion_panel emotion_pic' ng-show='emotionShow'>
            <div class="close_btn"><i class="fa fa-times" aria-hidden="true"></i></div>
            <ul>
                <li ng-repeat="val in emotions" ng-click="sendEmotion(val)">
                    <div>
                        <img ng-src="images/{{val.filename}}" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class='emotion_panel emotion_icon' ng-show='emotionIconShow'>
            <div class="close_btn"><i class="fa fa-times" aria-hidden="true"></i></div>
            <ul>
                <li ng-repeat="val in emotionIcons track by $index" ng-click="insertEmotionIcon(val)">
                    <div>
                        {{val}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
