<div class='panel chatControllerPanel' ng-class='controllPanel.class'>
    <div href="#" class='minimizeBtn' ng-click='controllPanel.minimizeAction()'>controller panel</div>
    <div class='panelContent' ng-show="!controllPanel.minimize">
        <div id='chatControllerHeader'>
            <ul class="headerIcons">
                <li>
                    <div ng-click='changeTab(0)'>
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                </li>
                <li>
                    <div ng-click='changeTab(1)'>
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </div>
                </li>
                <li>
                    <div ng-click='controllPanel.minimizeAction()'>
                        <i class="fa fa-window-minimize" aria-hidden="true"></i>
                    </div>
                </li>
            </ul>
            <div class='contentTitle'>{{account.name}}</div>
        </div>
        <div id='chatControllerContent'>
            <div id="loginPanel" ng-if='!account.account'>
                <ul ng-repeat="val in users">
                    <li ng-click='login(val.account)'>{{val.name}}</li>
                </ul>
            </div>
            <div ng-if='account.account' ng-switch='tab'>
                <div ng-switch-when='0' roster-list="rosterRooms" open-event="openRoom"></div>
                <div ng-switch-when='1'>
                    <ul class='roomList'>
                        <li ng-repeat="val in projectRoomsD" ng-click='openRoom(val.room_id)'>
                            <div class='chatThumbImg'>
                                <img src="images/logo.png" alt="">
                            </div>
                            <div class='chatRoomListName'>{{val.room_name}}
                                <span ng-if='val.unReadCount'>({{val.unReadCount}})</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
